<!DOCTYPE html>
<html>
  <head>
    <title>Kitchenandrecipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%= render partial: "shared/navbar" %>

    <div class="container">
      <%= render partial: "shared/messages" %>

      <button id="recipes-button">Get Recipes</button>
      <div id='data-div'>************ DUMMY TEXT DATA DIV ***********</div>
      <%= yield %>
    </div>
  </body>
</html>
